$couleur-fond-page: #00AFB9;
$couleur-texte-principal: #2c2c2c;
$couleur-titres: #ad6827;
$couleur-fond-page-petit: #271606;
$border-header:#F07167;
$color-header:#ffe8d2d3;
$couleur-lien:#53cbf0;
$couleur-lien-survol:complement($couleur-lien);
$taille-base-police: 0.95em;
$color-border-li: complement($couleur-lien);
$color-base-nav-liens: #4de7e7;
$border-survol: #358f53;
$box-cursus: complement($color-base-nav-liens);
$gris_survol_skills: #7e7e7e;