 // Boutons réseaux sociaux
 .social-buttons {
    height: 90px;
    //margin: auto;
    font-size: 0;
    text-align: center;
    position: absolute;
    top: 75%;
    bottom: 0;
    left: 0;
    right: 10%;
    z-index: 5;
}
 .social-button{
  display: inline-block;
background-color: $gris_survol_skills;
width: 90px;
height: 90px;
line-height: 90px;
margin: 0 64px;
text-align: center;
position: relative;
overflow: hidden;
opacity: .99;
border-radius: 28%;
box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
-webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
text-decoration: none;
}
.social-button::before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    top: 90%;
    left: -110%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.linkedin::before{
background-color: $color-base-nav-liens;
}
.social-button.email::before{
  background-color: $border-survol;
  }
  .social-button.game::before{
    background-color: #6948fd;
    }
  .social-button.cv::before{
    background-color: #eafa56;
    }
    .social-button.github::before{
      background-color: #cc8d27;
      }
.social-button .faLink, .social-button .faLink2, .social-button .faLink3, .social-button .faLink4, .social-button .faLink5{
    color: $color-base-nav-liens;
      font-size: 38px;
      vertical-align: middle;
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
      -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
      transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }
.faLink::before {
    content: "\f0e1";
    font-family: FontAwesome;    
    text-decoration: none;
}
.faLink2::before {
  content: "\f003";
  font-family: FontAwesome;    
}
.faLink3::before {
  content: "\f007";
  font-family: FontAwesome;    
}
.faLink4::before {
  content: "\f092";
  font-family: FontAwesome;    
}
.faLink5::before {
  content: "\f11b";
  font-family: FontAwesome;    
}


.social-button:hover::before {
  top: -10%;
  left: -10%;
}
/*.social-button-linkedin .faLink:hover {
  color: #fff;
  font-size: 45px;
  
}*/
.social-button:focus .faLink, .social-button:hover .faLink, .social-button:focus .faLink2, .social-button:hover .faLink2,
.social-button:focus .faLink3, .social-button:hover .faLink3,
.social-button:focus .faLink4, .social-button:hover .faLink4, .social-button:focus .faLink5, .social-button:hover .faLink5 {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}